{lib_dirs,["deps"]}.
{sub_dirs, ["rel"]}.
{deps, [
  {folsom, ".*", {
    git, "git://github.com/boundary/folsom.git", "master"}
  },
  {cowboy, ".*", {git, "git://github.com/extend/cowboy", "1.0.x"}},
  {folsom_cowboy, ".*", {
    git, "git://github.com/boundary/folsom_cowboy.git", "master"}
  }
]}.
{erl_opts, [{parse_transform}]}.